.card__top-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.card__digimon-picture img {
  height: 240px;
  animation: pulseAnimation 1s infinite;
}

#dgm-name {
  font-size: 22px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 22px;
}
